@keyframes featured {
  from {background-color: rgba(184, 184, 184, 0.425);}
  to {background-color: rgb(253, 253, 253);}
}

@keyframes featured {
  from {background-color: rgba(184, 184, 184, 0.425);}
  to {background-color: rgb(253, 253, 253);}
}
@keyframes slide-in {
  from {
    translate: 0vw 50vw;
    scale: 200% 1;
  }

  to {
    translate: 0 0;
    scale: 100% 1;
  }

}

  .about {
    display: flex;
    margin-left: 130px;
    height: 430px;
    width: 80vw;
    background-color:   #ffb9b9ce;
    border-radius: 20px;
    box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: -1px 5px 19px -5px rgba(0, 0, 0, 0.15);
    animation-name: slide-in;
    animation-duration: 2s;
  }
  
  .about header {
    width: 180%;
    display: flex;
    padding: 50px 0px;
    flex-direction: column;
    margin-left: 30px;
 
  }

  .about p {
    display:flex;
    padding: 50px;
    color: rgb(0, 0, 0);
    margin-top: 15vw;
  }
   @media only screen and (max-width: 1024px) {
    .about {
      height: 420px;
    }
    .testimonial {
      height: 580px;
    }
  }
  
  @media only screen and (max-width: 912px) {
    .about {
      height: 460px;
    }
  }
  
  @media only screen and (max-width: 540px) {
    .about {
      height: 560px;
    }
  }
  
  @media only screen and (max-width: 414px) {
    .about {
      height: 660px;
    }

  }
  
  @media only screen and (max-width: 300px) {
    .about {
      height: 800px;
    }

  }

  img {
    filter: blur(1px);
  }

